* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.home-button img {
  width: 40px;     
  height: auto;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.home-button img:hover {
  opacity: 0.7;    
}

.hero-section {
    width: 100%;
    height: 100vh;                
    background-image: url("assets/images/lh1.jpg");
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

\.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #FFFFD8;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

/* WEST VANCOUVER */
.location {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    position: absolute;
    top: 20px;              
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFD8;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

/* TITLE */
.lighthouse-park {
    font-family: "Great Vibes", cursive;
    font-size: 6rem;
    letter-spacing: 5px;
    margin-left: 1px;
}


/* hidden shores to unwind */
.subtitle {
    font-family: "Helvetica", sans-serif;
    font-size: 1.8rem;
    margin-top: 1px;
}

/* ABOUT */
.about {
    background-color: white;
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    font-family: "Great Vibes", cursive;
    margin-bottom: 20px;
}

.about p {
    font-family: "Helvetica", sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #555;
    margin-bottom:0px;
    padding-bottom: 10px;
}

.image-section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.image-section img {
    width: 100%;
    display: block;
    height: auto;
}

/* yellow text */
.yellow-text-section {
    background: #FFFFD8;
    text-align: center;
    padding: 45px 50px;
    
}

.yellow-text-section h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 44px;
    color: black;
    margin: 0 0 30px;
}

.yellow-text-section p {
    max-width: 900px;
    font-family: Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 19px;
    color: #000000;
}

.three-images {
    display: flex;
    padding: 0;
    margin: 0;
}

.three-images img {
    width: 33.33%;    
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

/* green info */
.info-section {
  background-color: #C1C5A9; 
  padding: 60px 0;
  width: 100%;
}

.info-row {
  display: grid;
  grid-template-columns: 250px 100px 1fr;
  width: 80%;
  margin: 55px auto;
  align-items: center;
}

.info-title {
  font-family: "Great Vibes", cursive;
  font-size: 52px;         
  font-weight: 400;
  color: #000000;
  text-align: center;
  line-height: 1.1;
}

.divider {
  width: 1px;
  background-color: #000000;
  height: 100%;
  margin: 0 30px;
}

.info-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #1a1a1a;
}

/* beige text */
.beige-text-section {
    background: #F7F3EA;
    text-align: left;
    padding: 45px 50px;
    
}

.beige-text-section h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 44px;
    color: black;
    margin: 0 0 30px;
}

.beige-text-section p {
   font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    margin: 0;
    padding-right: 40px;
}

.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* footer */
footer {
    background: #482E1D;
    color: white;
    padding: 40px 20px;
    margin-top: 40px;
}
.footer-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}
/* footer icons */
.icons {
    display: flex;
    gap: 20px;
}

.icon-links a {
  color: #F0EAD8; 
  background-color: #482E1D; 
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 6px;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.icon-links a:hover {
  background-color: #60442B; 
}

.menu-header {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
}

/* icons */
.hamburger-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.hamburger-btn img {
    width: 85px;
    height: 45px;
}
.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 220px;
    background: #F0EAD8;     
    padding: 0;
    border-radius: 12px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    z-index: 9999;
    font-family: Helvetica, sans-serif;   
}
.dropdown-menu.open {
   padding: 12px 0;
    max-height: 300px;
}
.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown-menu li {
 padding: 10px 18px;
}
.dropdown-menu a {
    color: black;                            
    text-decoration: none;
    font-size: 17px;
    font-family: Helvetica, sans-serif;     
    display: flex;
    align-items: center;
    gap: 10px;
}
.dropdown-menu img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}